body {
    background-color: #f0f0f0;
    color: #121212;
}
nav {
    background-color: #f0f0f0;
    color: #121212;
}
.title{
    background-color: #b1b1b1;
    min-height: 4rem;
    
}

.container{
    max-width: 48rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.record_header {
    display: flex;
}

@media screen and (max-width: 768px) {
    .record_header{
        flex-direction: column;
    }
}